//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 03 20:02:00 2015
//! **************************************************************************

SCHEMATIC START;
COMP "cout" LOCATE = SITE "M5" LEVEL 1;
COMP "data<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "data<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "enable" LOCATE = SITE "N3" LEVEL 1;
COMP "data<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "data<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "word<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "word_close<0>" LOCATE = SITE "J12" LEVEL 1;
COMP "word<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "word_close<1>" LOCATE = SITE "F12" LEVEL 1;
COMP "clock" LOCATE = SITE "B8" LEVEL 1;
COMP "digit<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "digit<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "digit<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "digit<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "digit<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "mod_sel<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "digit<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "mod_sel<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "digit<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "dir_sel" LOCATE = SITE "E2" LEVEL 1;
COMP "load" LOCATE = SITE "C11" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

