NET "data[0]"  LOC = P11;
NET "data[1]"  LOC = L3;
NET "data[2]"  LOC = K3;
NET "data[3]"  LOC = B4;
NET "mod_sel[0]" LOC = G3;
NET "mod_sel[1]" LOC = F3;
NET "dir_sel" LOC = E2;
NET "enable" LOC = N3;
NET "reset" LOC = G12;
NET "load" LOC = C11;
NET "clock" LOC = B8;
NET "cout" LOC = M5;
NET "digit[0]" LOC = L14;
NET "digit[1]" LOC = H12;
NET "digit[2]" LOC = N14;
NET "digit[3]" LOC = N11;
NET "digit[4]" LOC = P12;
NET "digit[5]" LOC = L13;
NET "digit[6]" LOC = M12;
NET "word[0]" LOC = K14;
NET "word[1]" LOC = M13;
NET "word_close[0]" LOC = J12;
NET "word_close[1]" LOC = F12;
